In [1]:
from __future__ import print_function, division

In [2]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

import datetime

In [3]:
# read data and preview data

# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    # base url
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        # concat our week onto url.. 
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [170506, 170513, 170520, 170527, 170603]
df = get_data(week_nums)

df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,6158212,2085529

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981047 entries, 0 to 195957
Data columns (total 11 columns):
C/A                                                                     981047 non-null object
UNIT                                                                    981047 non-null object
SCP                                                                     981047 non-null object
STATION                                                                 981047 non-null object
LINENAME                                                                981047 non-null object
DIVISION                                                                981047 non-null object
DATE                                                                    981047 non-null object
TIME                                                                    981047 non-null object
DESC                                                                    981047 non-null object
ENTRIES                                                                 981047 non-null int64
EXITS                                                                   981047 non-null int64
dtypes: int64(2), object(9)
memory usage: 89.8+ MB

In [5]:
#check to make sure dimensions match entries
df.shape

(981047, 11)

In [6]:
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
195953,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,05:00:00,REGULAR,5554,299
195954,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,09:00:00,REGULAR,5554,299
195955,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,13:00:00,REGULAR,5554,299
195956,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,17:00:00,REGULAR,5554,299
195957,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,21:00:00,REGULAR,5554,299

Because indices in df above do not match number of rows in the dataframe, data is inconsistent and reset of indices is necessary.

In [7]:
#check an index, here index =1 
df.loc[1]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/06/2017,04:00:00,REGULAR,6166420,2088525
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/13/2017,04:00:00,REGULAR,6176001,2091936
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/20/2017,04:00:00,REGULAR,6184865,2095167
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/27/2017,04:00:00,REGULAR,6195240,2098318

In [8]:
# drop duplicate indices

df=df.reset_index()
df=df.drop('index',1)
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
981042,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,05:00:00,REGULAR,5554,299
981043,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,09:00:00,REGULAR,5554,299
981044,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,13:00:00,REGULAR,5554,299
981045,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,17:00:00,REGULAR,5554,299
981046,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/02/2017,21:00:00,REGULAR,5554,299

Df above shows indices are reindexed successfully.

In [9]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [10]:
# strip whitespace on Exits column
df.columns = [column.strip() for column in df.columns]

In [11]:
#drop unnecessary columns
df = df.drop(['LINENAME','DIVISION'],axis=1)

In [12]:
#check unnecessary columns are dropped
df.head()

,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,04/29/2017,00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,04/29/2017,04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,04/29/2017,08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,04/29/2017,12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,04/29/2017,16:00:00,REGULAR,6158212,2085529

Df above shows columns successfully dropped.

In [13]:
#create datetime column
df['DATETIME'] = [pd.to_datetime(i+j, format = '%m/%d/%Y%H:%M:%S') for i, j in zip(df.DATE, df.TIME)]

In [14]:
df.head()

,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,04/29/2017,00:00:00,REGULAR,6157740,2085315,2017-04-29 00:00:00
1,A002,R051,02-00-00,59 ST,04/29/2017,04:00:00,REGULAR,6157777,2085319,2017-04-29 04:00:00
2,A002,R051,02-00-00,59 ST,04/29/2017,08:00:00,REGULAR,6157810,2085353,2017-04-29 08:00:00
3,A002,R051,02-00-00,59 ST,04/29/2017,12:00:00,REGULAR,6157963,2085453,2017-04-29 12:00:00
4,A002,R051,02-00-00,59 ST,04/29/2017,16:00:00,REGULAR,6158212,2085529,2017-04-29 16:00:00

In [15]:
#verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE", "DATETIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False))

,C/A,UNIT,SCP,STATION,DATE,DATETIME,ENTRIES
871022,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,2017-05-26 20:00:00,2
135038,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,2017-05-09 05:00:00,2
0,A002,R051,02-00-00,59 ST,04/29/2017,2017-04-29 00:00:00,1
654035,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 12:00:00,1
654024,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 16:00:00,1
654025,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 20:00:00,1
654026,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 00:00:00,1
654027,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 04:00:00,1
654028,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 08:00:00,1
654029,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 12:00:00,1
654030,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 16:00:00,1
654031,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 20:00:00,1
654032,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 00:00:00,1
654033,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 04:00:00,1
654034,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 08:00:00,1
654036,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 16:00:00,1
654050,R145,R032,00-00-03,TIMES SQ-42 ST,05/16/2017,2017-05-16 00:00:00,1
654037,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 20:00:00,1
654038,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 00:00:00,1
654039,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 04:00:00,1
654040,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 08:00:00,1
654041,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 12:00:00,1
654042,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 16:00:00,1
654043,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 20:00:00,1
654044,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 00:00:00,1
654045,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 04:00:00,1
654046,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 08:00:00,1
654047,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 12:00:00,1
654048,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 16:00:00,1
654023,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 12:00:00,1
...,...,...,...,...,...,...,...
327026,N181,R357,00-00-01,AQUEDUCT N.COND,05/03/2017,2017-05-03 05:00:00,1
327025,N181,R357,00-00-01,AQUEDUCT N.COND,05/03/2017,2017-05-03 01:00:00,1
327024,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 21:00:00,1
327023,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 17:00:00,1
326998,N181,R357,00-00-00,AQUEDUCT N.COND,06/01/2017,2017-06-01 09:00:00,1
326999,N181,R357,00-00-00,AQUEDUCT N.COND,06/01/2017,2017-06-01 13:00:00,1
327000,N181,R357,00-00-00,AQUEDUCT N.COND,06/01/2017,2017-06-01 17:00:00,1
327001,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 01:00:00,1
327002,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 05:00:00,1
327003,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 09:00:00,1
327004,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 13:00:00,1
327005,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 17:00:00,1
327006,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 21:00:00,1
327007,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 01:00:00,1
327008,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 05:00:00,1
327009,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 09:00:00,1
327010,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 13:00:00,1
327011,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 17:00:00,1
327012,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 21:00:00,1
327013,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 01:00:00,1
327014,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 05:00:00,1
327015,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 09:00:00,1
327016,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 13:00:00,1
327017,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 17:00:00,1
327018,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 21:00:00,1
327019,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 01:00:00,1
327020,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 05:00:00,1
327021,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 09:00:00,1
327022,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 13:00:00,1
981044,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,2017-06-02 21:00:00,1

From the df above, there are 2 duplicate entries in this dataset.

In [16]:
#check first entry of duplicate entries in df above
# On 2017-05-26 20:00:00
mask = ((df["C/A"] == "R504") & 
(df["UNIT"] == "R276") & 
(df["SCP"] == "00-00-01") & 
(df["STATION"] == "VERNON-JACKSON") &
(df["DATE"] == "05/26/2017"))
df[mask]

,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
763074,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,00:00:00,REGULAR,8651134,1430855,2017-05-26 00:00:00
763075,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,04:00:00,REGULAR,8651156,1430857,2017-05-26 04:00:00
763076,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,08:00:00,REGULAR,8651459,1430934,2017-05-26 08:00:00
763077,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,12:00:00,REGULAR,8652461,1431057,2017-05-26 12:00:00
763078,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,16:00:00,REGULAR,8652911,1431171,2017-05-26 16:00:00
763079,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,20:00:00,REGULAR,8653329,1431335,2017-05-26 20:00:00
763080,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,20:00:00,RECOVR AUD,8653331,1431335,2017-05-26 20:00:00

From masked df above, we remove the 'regular' observation, having index 763079, because the audited observation is consistent with the prior observation at 16:00:00 and we assume audits are more robust than the typical method of observation collection.

In [17]:
#remove observation
df.drop(df.index[763079], inplace = True)

In [18]:
#verify removal of observation
mask = ((df["C/A"] == "R504") & 
(df["UNIT"] == "R276") & 
(df["SCP"] == "00-00-01") & 
(df["STATION"] == "VERNON-JACKSON") &
(df["DATE"] == "05/26/2017"))
df[mask]

,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
763074,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,00:00:00,REGULAR,8651134,1430855,2017-05-26 00:00:00
763075,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,04:00:00,REGULAR,8651156,1430857,2017-05-26 04:00:00
763076,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,08:00:00,REGULAR,8651459,1430934,2017-05-26 08:00:00
763077,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,12:00:00,REGULAR,8652461,1431057,2017-05-26 12:00:00
763078,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,16:00:00,REGULAR,8652911,1431171,2017-05-26 16:00:00
763080,R504,R276,00-00-01,VERNON-JACKSON,05/26/2017,20:00:00,RECOVR AUD,8653331,1431335,2017-05-26 20:00:00

In [19]:
#check second entry of duplicate entries in df above
# On 2017-05-09 05:00:00
mask = ((df["C/A"] == "G001") & 
(df["UNIT"] == "R151") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "CONEY IS-STILLW") &
(df["DATE"] == "05/09/2017"))
df[mask]

,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
224250,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,01:00:00,REGULAR,199982,337867,2017-05-09 01:00:00
224251,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,05:00:00,REGULAR,200022,337947,2017-05-09 05:00:00
224252,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,05:00:00,RECOVR AUD,200021,337947,2017-05-09 05:00:00
224253,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,09:00:00,REGULAR,200363,338280,2017-05-09 09:00:00
224254,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,13:00:00,REGULAR,200546,338821,2017-05-09 13:00:00
224255,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,17:00:00,REGULAR,200860,339305,2017-05-09 17:00:00
224256,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,21:00:00,REGULAR,201098,339691,2017-05-09 21:00:00

From masked df above, we remove the 'regular' observation, having index 224251, because the audited observation is consistent with the prior observation at 01:00:00 and the post observation at 09:00:00 we assume audits are more robust than the typical method of observation collection.

In [20]:
#remove observation
df.drop(df.index[224251], inplace = True)

In [21]:
#verify removal of the observation
mask = ((df["C/A"] == "G001") & 
(df["UNIT"] == "R151") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "CONEY IS-STILLW") &
(df["DATE"] == "05/09/2017"))
df[mask]

,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
224250,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,01:00:00,REGULAR,199982,337867,2017-05-09 01:00:00
224252,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,05:00:00,RECOVR AUD,200021,337947,2017-05-09 05:00:00
224253,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,09:00:00,REGULAR,200363,338280,2017-05-09 09:00:00
224254,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,13:00:00,REGULAR,200546,338821,2017-05-09 13:00:00
224255,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,17:00:00,REGULAR,200860,339305,2017-05-09 17:00:00
224256,G001,R151,00-00-00,CONEY IS-STILLW,05/09/2017,21:00:00,REGULAR,201098,339691,2017-05-09 21:00:00

In [22]:
#check if there are any duplicates in the observations for exits
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE", "DATETIME"])
 .EXITS.count()
 .reset_index()
 .sort_values("EXITS", ascending=False))

,C/A,UNIT,SCP,STATION,DATE,DATETIME,EXITS
0,A002,R051,02-00-00,59 ST,04/29/2017,2017-04-29 00:00:00,1
654035,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 12:00:00,1
654023,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 12:00:00,1
654024,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 16:00:00,1
654025,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 20:00:00,1
654026,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 00:00:00,1
654027,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 04:00:00,1
654028,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 08:00:00,1
654029,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 12:00:00,1
654030,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 16:00:00,1
654031,R145,R032,00-00-03,TIMES SQ-42 ST,05/12/2017,2017-05-12 20:00:00,1
654032,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 00:00:00,1
654033,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 04:00:00,1
654034,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 08:00:00,1
654036,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 16:00:00,1
654021,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 04:00:00,1
654037,R145,R032,00-00-03,TIMES SQ-42 ST,05/13/2017,2017-05-13 20:00:00,1
654038,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 00:00:00,1
654039,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 04:00:00,1
654040,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 08:00:00,1
654041,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 12:00:00,1
654042,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 16:00:00,1
654043,R145,R032,00-00-03,TIMES SQ-42 ST,05/14/2017,2017-05-14 20:00:00,1
654044,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 00:00:00,1
654045,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 04:00:00,1
654046,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 08:00:00,1
654047,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 12:00:00,1
654048,R145,R032,00-00-03,TIMES SQ-42 ST,05/15/2017,2017-05-15 16:00:00,1
654022,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 08:00:00,1
654020,R145,R032,00-00-03,TIMES SQ-42 ST,05/11/2017,2017-05-11 00:00:00,1
...,...,...,...,...,...,...,...
327026,N181,R357,00-00-01,AQUEDUCT N.COND,05/03/2017,2017-05-03 05:00:00,1
327025,N181,R357,00-00-01,AQUEDUCT N.COND,05/03/2017,2017-05-03 01:00:00,1
327024,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 21:00:00,1
327023,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 17:00:00,1
326998,N181,R357,00-00-00,AQUEDUCT N.COND,06/01/2017,2017-06-01 09:00:00,1
326999,N181,R357,00-00-00,AQUEDUCT N.COND,06/01/2017,2017-06-01 13:00:00,1
327000,N181,R357,00-00-00,AQUEDUCT N.COND,06/01/2017,2017-06-01 17:00:00,1
327001,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 01:00:00,1
327002,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 05:00:00,1
327003,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 09:00:00,1
327004,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 13:00:00,1
327005,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 17:00:00,1
327006,N181,R357,00-00-01,AQUEDUCT N.COND,04/29/2017,2017-04-29 21:00:00,1
327007,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 01:00:00,1
327008,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 05:00:00,1
327009,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 09:00:00,1
327010,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 13:00:00,1
327011,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 17:00:00,1
327012,N181,R357,00-00-01,AQUEDUCT N.COND,04/30/2017,2017-04-30 21:00:00,1
327013,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 01:00:00,1
327014,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 05:00:00,1
327015,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 09:00:00,1
327016,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 13:00:00,1
327017,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 17:00:00,1
327018,N181,R357,00-00-01,AQUEDUCT N.COND,05/01/2017,2017-05-01 21:00:00,1
327019,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 01:00:00,1
327020,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 05:00:00,1
327021,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 09:00:00,1
327022,N181,R357,00-00-01,AQUEDUCT N.COND,05/02/2017,2017-05-02 13:00:00,1
981044,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,2017-06-02 21:00:00,1

Data is consistent. There are no duplicate observations for exits.

In [23]:
#Now that uniqueness of entries and exits have been verified, reset the indices
# drop duplicate indices

df=df.reset_index()
print(df.shape)
df.tail()

(981045, 11)

,index,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
981040,981042,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,05:00:00,REGULAR,5554,299,2017-06-02 05:00:00
981041,981043,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,09:00:00,REGULAR,5554,299,2017-06-02 09:00:00
981042,981044,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,13:00:00,REGULAR,5554,299,2017-06-02 13:00:00
981043,981045,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,17:00:00,REGULAR,5554,299,2017-06-02 17:00:00
981044,981046,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,21:00:00,REGULAR,5554,299,2017-06-02 21:00:00

Df above shows reindexing is successful.

In [24]:
# review entries for consistency in values

dfdaily = df.groupby\
                (["C/A", "UNIT", "SCP", "STATION", "DATE"])\
                .ENTRIES.first().reset_index()
        
df.head()

,index,C/A,UNIT,SCP,STATION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,0,A002,R051,02-00-00,59 ST,04/29/2017,00:00:00,REGULAR,6157740,2085315,2017-04-29 00:00:00
1,1,A002,R051,02-00-00,59 ST,04/29/2017,04:00:00,REGULAR,6157777,2085319,2017-04-29 04:00:00
2,2,A002,R051,02-00-00,59 ST,04/29/2017,08:00:00,REGULAR,6157810,2085353,2017-04-29 08:00:00
3,3,A002,R051,02-00-00,59 ST,04/29/2017,12:00:00,REGULAR,6157963,2085453,2017-04-29 12:00:00
4,4,A002,R051,02-00-00,59 ST,04/29/2017,16:00:00,REGULAR,6158212,2085529,2017-04-29 16:00:00

In [25]:
#add prior entries and its date as columns to the df for easier interpretation of consistency in values 
# define two new columns using 
dfdaily[["PREVDATE", "PREVENTRIES"]] = (dfdaily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .transform(lambda grp: grp.shift(1)))

In [26]:
#preview df to verify new columns
dfdaily.head(50)

     C/A  UNIT       SCP STATION        DATE  ENTRIES    PREVDATE  PREVENTRIES
0   A002  R051  02-00-00   59 ST  04/29/2017  6157740         NaN          NaN
1   A002  R051  02-00-00   59 ST  04/30/2017  6158637  04/29/2017    6157740.0
2   A002  R051  02-00-00   59 ST  05/01/2017  6159107  04/30/2017    6158637.0
3   A002  R051  02-00-00   59 ST  05/02/2017  6160508  05/01/2017    6159107.0
4   A002  R051  02-00-00   59 ST  05/03/2017  6162061  05/02/2017    6160508.0
5   A002  R051  02-00-00   59 ST  05/04/2017  6163517  05/03/2017    6162061.0
6   A002  R051  02-00-00   59 ST  05/05/2017  6165120  05/04/2017    6163517.0
7   A002  R051  02-00-00   59 ST  05/06/2017  6166390  05/05/2017    6165120.0
8   A002  R051  02-00-00   59 ST  05/07/2017  6167259  05/06/2017    6166390.0
9   A002  R051  02-00-00   59 ST  05/08/2017  6167955  05/07/2017    6167259.0
10  A002  R051  02-00-00   59 ST  05/09/2017  6169536  05/08/2017    6167955.0
11  A002  R051  02-00-00   59 ST  05/10/2017  6171059  05/09/2017    6169536.0
12  A002  R051  02-00-00   59 ST  05/11/2017  6172600  05/10/2017    6171059.0
13  A002  R051  02-00-00   59 ST  05/12/2017  6174189  05/11/2017    6172600.0
14  A002  R051  02-00-00   59 ST  05/13/2017  6175956  05/12/2017    6174189.0
15  A002  R051  02-00-00   59 ST  05/14/2017  6176825  05/13/2017    6175956.0
16  A002  R051  02-00-00   59 ST  05/15/2017  6177671  05/14/2017    6176825.0
17  A002  R051  02-00-00   59 ST  05/16/2017  6179262  05/15/2017    6177671.0
18  A002  R051  02-00-00   59 ST  05/17/2017  6180269  05/16/2017    6179262.0
19  A002  R051  02-00-00   59 ST  05/18/2017  6181793  05/17/2017    6180269.0
20  A002  R051  02-00-00   59 ST  05/19/2017  6183294  05/18/2017    6181793.0
21  A002  R051  02-00-00   59 ST  05/20/2017  6184841  05/19/2017    6183294.0
22  A002  R051  02-00-00   59 ST  05/21/2017  6185634  05/20/2017    6184841.0
23  A002  R051  02-00-00   59 ST  05/22/2017  6186215  05/21/2017    6185634.0
24  A002  R051  02-00-00   59 ST  05/23/2017  6187676  05/22/2017    6186215.0
25  A002  R051  02-00-00   59 ST  05/24/2017  6189483  05/23/2017    6187676.0
26  A002  R051  02-00-00   59 ST  05/25/2017  6191488  05/24/2017    6189483.0
27  A002  R051  02-00-00   59 ST  05/26/2017  6193582  05/25/2017    6191488.0
28  A002  R051  02-00-00   59 ST  05/27/2017  6195217  05/26/2017    6193582.0
29  A002  R051  02-00-00   59 ST  05/28/2017  6195898  05/27/2017    6195217.0
30  A002  R051  02-00-00   59 ST  05/29/2017  6196569  05/28/2017    6195898.0
31  A002  R051  02-00-00   59 ST  05/30/2017  6197230  05/29/2017    6196569.0
32  A002  R051  02-00-00   59 ST  05/31/2017  6198819  05/30/2017    6197230.0
33  A002  R051  02-00-00   59 ST  06/01/2017  6200419  05/31/2017    6198819.0
34  A002  R051  02-00-00   59 ST  06/02/2017  6202055  06/01/2017    6200419.0
35  A002  R051  02-00-01   59 ST  04/29/2017  5580416         NaN          NaN
36  A002  R051  02-00-01   59 ST  04/30/2017  5581232  04/29/2017    5580416.0
37  A002  R051  02-00-01   59 ST  05/01/2017  5581851  04/30/2017    5581232.0
38  A002  R051  02-00-01   59 ST  05/02/2017  5583047  05/01/2017    5581851.0
39  A002  R051  02-00-01   59 ST  05/03/2017  5584235  05/02/2017    5583047.0
40  A002  R051  02-00-01   59 ST  05/04/2017  5585515  05/03/2017    5584235.0
41  A002  R051  02-00-01   59 ST  05/05/2017  5586785  05/04/2017    5585515.0
42  A002  R051  02-00-01   59 ST  05/06/2017  5587839  05/05/2017    5586785.0
43  A002  R051  02-00-01   59 ST  05/07/2017  5588457  05/06/2017    5587839.0
44  A002  R051  02-00-01   59 ST  05/08/2017  5588927  05/07/2017    5588457.0
45  A002  R051  02-00-01   59 ST  05/09/2017  5590002  05/08/2017    5588927.0
46  A002  R051  02-00-01   59 ST  05/10/2017  5591142  05/09/2017    5590002.0
47  A002  R051  02-00-01   59 ST  05/11/2017  5592255  05/10/2017    5591142.0
48  A002  R051  02-00-01   59 ST  05/12/2017  5593449  05/11/2017    5592255.0
49  A002  R051  02-00-01   59 ST  05/13/2017  5594253  05/12/2017    5593449.0

In [27]:
# Drop observations with NAN values for previous date
dfdaily.dropna(subset=["PREVDATE"], axis=0, inplace=True)

In [28]:
#verify observations of NANs for PREVDATE are dropped
dfdaily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES    PREVDATE  PREVENTRIES
1  A002  R051  02-00-00   59 ST  04/30/2017  6158637  04/29/2017    6157740.0
2  A002  R051  02-00-00   59 ST  05/01/2017  6159107  04/30/2017    6158637.0
3  A002  R051  02-00-00   59 ST  05/02/2017  6160508  05/01/2017    6159107.0
4  A002  R051  02-00-00   59 ST  05/03/2017  6162061  05/02/2017    6160508.0
5  A002  R051  02-00-00   59 ST  05/04/2017  6163517  05/03/2017    6162061.0

In [29]:
#check if any previous entries are larger than current ones
dfdaily[dfdaily["ENTRIES"] < dfdaily["PREVENTRIES"]]

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREVDATE,PREVENTRIES
1102,A010,R080,00-00-05,57 ST-7 AV,05/16/2017,3922,05/15/2017,4.307770e+05
1191,A011,R080,01-00-00,57 ST-7 AV,04/30/2017,887017249,04/29/2017,8.870194e+08
1192,A011,R080,01-00-00,57 ST-7 AV,05/01/2017,887015428,04/30/2017,8.870172e+08
1193,A011,R080,01-00-00,57 ST-7 AV,05/02/2017,887012755,05/01/2017,8.870154e+08
1194,A011,R080,01-00-00,57 ST-7 AV,05/03/2017,887009153,05/02/2017,8.870128e+08
1195,A011,R080,01-00-00,57 ST-7 AV,05/04/2017,887005522,05/03/2017,8.870092e+08
1196,A011,R080,01-00-00,57 ST-7 AV,05/05/2017,887001929,05/04/2017,8.870055e+08
1197,A011,R080,01-00-00,57 ST-7 AV,05/06/2017,886998688,05/05/2017,8.870019e+08
1198,A011,R080,01-00-00,57 ST-7 AV,05/07/2017,886996727,05/06/2017,8.869987e+08
1199,A011,R080,01-00-00,57 ST-7 AV,05/08/2017,886995127,05/07/2017,8.869967e+08
1200,A011,R080,01-00-00,57 ST-7 AV,05/09/2017,886991859,05/08/2017,8.869951e+08
1201,A011,R080,01-00-00,57 ST-7 AV,05/10/2017,886988488,05/09/2017,8.869919e+08
1202,A011,R080,01-00-00,57 ST-7 AV,05/11/2017,886985174,05/10/2017,8.869885e+08
1203,A011,R080,01-00-00,57 ST-7 AV,05/12/2017,886981449,05/11/2017,8.869852e+08
1204,A011,R080,01-00-00,57 ST-7 AV,05/13/2017,886977871,05/12/2017,8.869814e+08
1205,A011,R080,01-00-00,57 ST-7 AV,05/14/2017,886975801,05/13/2017,8.869779e+08
1206,A011,R080,01-00-00,57 ST-7 AV,05/15/2017,886974199,05/14/2017,8.869758e+08
1207,A011,R080,01-00-00,57 ST-7 AV,05/16/2017,886970967,05/15/2017,8.869742e+08
1208,A011,R080,01-00-00,57 ST-7 AV,05/17/2017,886967490,05/16/2017,8.869710e+08
1209,A011,R080,01-00-00,57 ST-7 AV,05/18/2017,886964117,05/17/2017,8.869675e+08
1210,A011,R080,01-00-00,57 ST-7 AV,05/19/2017,886960596,05/18/2017,8.869641e+08
1211,A011,R080,01-00-00,57 ST-7 AV,05/20/2017,886957437,05/19/2017,8.869606e+08
1212,A011,R080,01-00-00,57 ST-7 AV,05/21/2017,886955738,05/20/2017,8.869574e+08
1213,A011,R080,01-00-00,57 ST-7 AV,05/22/2017,886953767,05/21/2017,8.869557e+08
1214,A011,R080,01-00-00,57 ST-7 AV,05/23/2017,886950335,05/22/2017,8.869538e+08
1215,A011,R080,01-00-00,57 ST-7 AV,05/24/2017,886946671,05/23/2017,8.869503e+08
1216,A011,R080,01-00-00,57 ST-7 AV,05/25/2017,886943007,05/24/2017,8.869467e+08
1217,A011,R080,01-00-00,57 ST-7 AV,05/26/2017,886939431,05/25/2017,8.869430e+08
1218,A011,R080,01-00-00,57 ST-7 AV,05/27/2017,886936242,05/26/2017,8.869394e+08
1219,A011,R080,01-00-00,57 ST-7 AV,05/28/2017,886934373,05/27/2017,8.869362e+08
...,...,...,...,...,...,...,...,...
161264,R646,R110,01-00-01,FLATBUSH AV-B.C,05/26/2017,1507935000,05/25/2017,1.507937e+09
161265,R646,R110,01-00-01,FLATBUSH AV-B.C,05/27/2017,1507933341,05/26/2017,1.507935e+09
161266,R646,R110,01-00-01,FLATBUSH AV-B.C,05/28/2017,1507932833,05/27/2017,1.507933e+09
161267,R646,R110,01-00-01,FLATBUSH AV-B.C,05/29/2017,1507932426,05/28/2017,1.507933e+09
161268,R646,R110,01-00-01,FLATBUSH AV-B.C,05/30/2017,1507932025,05/29/2017,1.507932e+09
161269,R646,R110,01-00-01,FLATBUSH AV-B.C,05/31/2017,1507930476,05/30/2017,1.507932e+09
161270,R646,R110,01-00-01,FLATBUSH AV-B.C,06/01/2017,1507928938,05/31/2017,1.507930e+09
161271,R646,R110,01-00-01,FLATBUSH AV-B.C,06/02/2017,1507927447,06/01/2017,1.507929e+09
162119,R730,R431,00-00-04,EASTCHSTER/DYRE,05/06/2017,1560221266,05/05/2017,1.560221e+09
162120,R730,R431,00-00-04,EASTCHSTER/DYRE,05/07/2017,1560221264,05/06/2017,1.560221e+09
162122,R730,R431,00-00-04,EASTCHSTER/DYRE,05/09/2017,1560220746,05/08/2017,1.560221e+09
162123,R730,R431,00-00-04,EASTCHSTER/DYRE,05/10/2017,1560220212,05/09/2017,1.560221e+09
162124,R730,R431,00-00-04,EASTCHSTER/DYRE,05/11/2017,1560219688,05/10/2017,1.560220e+09
162125,R730,R431,00-00-04,EASTCHSTER/DYRE,05/12/2017,1560219196,05/11/2017,1.560220e+09
162126,R730,R431,00-00-04,EASTCHSTER/DYRE,05/13/2017,1560218724,05/12/2017,1.560219e+09
162129,R730,R431,00-00-04,EASTCHSTER/DYRE,05/16/2017,1560218145,05/15/2017,1.560219e+09
162130,R730,R431,00-00-04,EASTCHSTER/DYRE,05/17/2017,1560217623,05/16/2017,1.560218e+09
162131,R730,R431,00-00-04,EASTCHSTER/DYRE,05/18/2017,1560217082,05/17/2017,1.560218e+09
162132,R730,R431,00-00-04,EASTCHSTER/DYRE,05/19/2017,1560216574,05/18/2017,1.560217e+09
162133,R730,R431,00-00-04,EASTCHSTER/DYRE,05/20/2017,1560216050,05/19/2017,1.560217e+09
162136,R730,R431,00-00-04,EASTCHSTER/DYRE,05/23/2017,1560215566,05/22/2017,1.560216e+09
162137,R730,R431,00-00-04,EASTCHSTER/DYRE,05/24/2017,1560215026,05/23/2017,1.560216e+09
162138,R730,R431,00-00-04,EASTCHSTER/DYRE,05/25/2017,1560214476,05/24/2017,1.560215e+09
162139,R730,R431,00-00-04,EASTCHSTER/DYRE,05/26/2017,1560213957,05/25/2017,1.560214e+09
162140,R730,R431,00-00-04,EASTCHSTER/DYRE,05/27/2017,1560213417,05/26/2017,1.560214e+09
162141,R730,R431,00-00-04,EASTCHSTER/DYRE,05/28/2017,1560213416,05/27/2017,1.560213e+09
162144,R730,R431,00-00-04,EASTCHSTER/DYRE,05/31/2017,1560212927,05/30/2017,1.560213e+09
162145,R730,R431,00-00-04,EASTCHSTER/DYRE,06/01/2017,1560212413,05/31/2017,1.560213e+09
162146,R730,R431,00-00-04,EASTCHSTER/DYRE,06/02/2017,1560211879,06/01/2017,1.560212e+09
162931,S101A,R070,01-03-02,ST. GEORGE,05/14/2017,20,05/12/2017,5.345780e+05

From the df above, there are 1337 observations in which the previous observation for entry is larger than the current entry. We decided to remove these observations.

In [32]:
#remove all observations where the previous observation for entry is larger than the current entry
dfdaily = dfdaily[dfdaily["ENTRIES"] >= dfdaily["PREVENTRIES"]]

In [35]:
dfdaily.shape

(157598, 8)